*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: poppins, sans-serif;
    background-color: rgba(38, 207, 103, 0.062);

}

header{
    background-color: rgba(38, 207, 103, 0.575);
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 20px;
}

img{
    width: 30px;
}

.cadastro{
    text-align: center;
}

input{
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgba(38, 207, 103, 0.575);
    margin-top: 10px;
}


.preenchimento input[name=nome-produto]{
    width: 80%;
}

.preenchimento input[name=valor-produto]{
    width: 50%;
}

.preenchimento input[name=quantidade]{
    width: 27%;
}

.cadastro input[name=cadastrar]{
    background-color: rgba(38, 207, 103, 0.575);
    color: aliceblue;
    cursor: pointer;
    
}

.lista-produtos{
    margin-top: 50px;
    width: 80%;
    max-width: 500px;
    
}

.lista-produto-single{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc9a;
    margin-top: 10px;
}

.soma-produto{
    margin-top: 50px;
    margin-bottom: 10px;
}

button[name=limpar]{
    cursor: pointer;
    border-radius: 16px;
    padding: 8px;
    border: 1px solid rgba(38, 207, 103, 0.575);
    margin-top: 10px;
    color: aliceblue;
    background-color: rgba(38, 207, 103, 0.575);
}

.valor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto{
    word-spacing: 10px;
}

.lixeira{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
